#letter-container {
    max-width: 700px;  /* Adjust as needed */
    overflow: auto;    /* Adds scrollbars if content exceeds max size */
}

#letter {
    white-space: pre-wrap;  /* Preserves line breaks and spaces */
    font-weight:lighter;
    color:rgb(94, 51, 20);
}

body {
    font-family:'Courier New', Courier, monospace; 
    background-color: antiquewhite;
    padding-left: 50px;
    padding-top: 20px;
}

h1 {
    font-size: 2em;
    color: darkred;
}

td {
    vertical-align: top;
    white-space: pre-wrap;
}

#header {
    font-weight: bold;
    font-size: 1em;
}

#vocab {
    color:darkslategray;
    font-size: smaller;
}

button {
    background-color: darkred;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#synopsis {
    color: darkslategrey; 
    font-size: 0.9em;
    font-style: italic;
}